# Created by venv; see https://docs.python.org/3/library/venv.html

# Environments
myvenv/
env/
venv/
ENV/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder
instance/

# Environment variables
.env